/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 30, 2019, 2:26:04 PM
    Author     : No0oOr
*/

@font-face{
    font-family: "NeoSans";
    src: url(http://savemymeal.codesroots.com/fonts/NeoSans-regular.woff) format("truetype");
}
body {
    background: #fafcfd;
        font-family: 'NeoSans';
}
.courses{
    text-align: center;
}
.btn{
    background: #dd6161;
     color : #fff;
     width: 50%;
     margin: auto;
         box-shadow: 1px 1px 7px 2px #948a8a91;
    
}


.btn:hover{
    color :#fff;
    box-shadow: 1px 1px 7px 2px #948a8a91;
}

    .form-control:focus, .btn:focus {
    border-color: #ea818166;
    box-shadow: 0 0 0 0.2rem #ea818166;

}
.half-width
{
        width: 50%;
    margin: 20px auto;
}

@media only screen and (max-width:500px){
    .half-width {
        width: 85%;
    }
}